pytorch/data/MNIST/raw/t10k-images-idx3-ubyte
pytorch/data/MNIST/raw/t10k-images-idx3-ubyte.gz
pytorch/data/MNIST/raw/t10k-labels-idx1-ubyte
pytorch/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
pytorch/data/MNIST/raw/train-images-idx3-ubyte
pytorch/data/MNIST/raw/train-images-idx3-ubyte.gz
pytorch/data/MNIST/raw/train-labels-idx1-ubyte
pytorch/data/MNIST/raw/train-labels-idx1-ubyte.gz
pytorch/.ipynb_checkpoints/pytorch101-checkpoint.ipynb
pytorch/data/cifar-10-python.tar.gz
pytorch/data/cifar-10-batches-py/batches.meta
pytorch/data/cifar-10-batches-py/data_batch_1
pytorch/data/cifar-10-batches-py/data_batch_2
pytorch/data/cifar-10-batches-py/data_batch_3
pytorch/data/cifar-10-batches-py/data_batch_4
pytorch/data/cifar-10-batches-py/data_batch_5
pytorch/data/cifar-10-batches-py/readme.html
pytorch/data/cifar-10-batches-py/test_batch
pytorch/data/FashionMNIST/raw/t10k-images-idx3-ubyte
pytorch/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
pytorch/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
pytorch/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
pytorch/data/FashionMNIST/raw/train-images-idx3-ubyte
pytorch/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
pytorch/data/FashionMNIST/raw/train-labels-idx1-ubyte
pytorch/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687614760.chapapote.177203.0
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687615234.chapapote.177203.1
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687615265.chapapote.177203.2
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687615680.chapapote.177203.3
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616278.chapapote.177203.4
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616278.chapapote.177203.5
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616278.chapapote.177203.6
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.7
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.8
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.9
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.10
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.11
pytorch/runs/fashion_mnist_experiment_1/events.out.tfevents.1687616279.chapapote.177203.12
pytorch/runs/fashion_mnist_experiment_1/projector_config.pbtxt
pytorch/runs/fashion_mnist_experiment_1/00000/default/metadata.tsv
pytorch/runs/fashion_mnist_experiment_1/00000/default/sprite.png
pytorch/runs/fashion_mnist_experiment_1/00000/default/tensors.tsv
pytorch/.ipynb_checkpoints/lab1_1-checkpoint.ipynb
.gitignore
