.gitignore
pytorch/data/**
pytorch/.ipynb_checkpoints/**
pytorch/data/**
pytorch/runs/**
pytorch/.ipynb_checkpoints/
pytorch_dist/lightning/000/tmp.py
pytorch_dist/lightning/000/lightning_logs/**
pytorch_dist/lightning/000/MNIST/raw/t10k-images-idx3-ubyte
pytorch_dist/lightning/000/MNIST/raw/t10k-images-idx3-ubyte.gz
pytorch_dist/lightning/000/MNIST/raw/t10k-labels-idx1-ubyte
pytorch_dist/lightning/000/MNIST/raw/t10k-labels-idx1-ubyte.gz
pytorch_dist/lightning/000/MNIST/raw/train-images-idx3-ubyte
pytorch_dist/lightning/000/MNIST/raw/train-images-idx3-ubyte.gz
pytorch_dist/lightning/000/MNIST/raw/train-labels-idx1-ubyte
pytorch_dist/lightning/000/MNIST/raw/train-labels-idx1-ubyte.gz
pytorch_dist/lightning/001/checkpoints/**
pytorch_dist/lightning/001/lightning_logs/**
pytorch_dist/lightning/002/__pycache__/**
pytorch_dist/lightning/003/data/wikitext-2.txt
pytorch_dist/lightning/004/__pycache__/mnist_datamodule.cpython-39.pyc
pytorch_dist/lightning/004/data/**
pytorch_dist/lightning/004/lightning_logs/**
